
.footer{
    min-height: auto;
    padding-top: 2rem;
    background:linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,.7));
    background-size: cover;
    background-position: center;
}

.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box{
    margin:2rem;
    flex:1 1 25rem;
}

.footer .box-container .box img{
    height:4rem;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    color:#999;
    padding: 1rem 0;
}

.footer .box-container .box p i{
    padding-right: 1rem;
    color:var(--green);
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--green);
    padding:1rem 0;
}

.footer .box-container .box a{
    height:5rem;
    width:5rem;
    line-height: 4.8rem;
    text-align: center;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: 50%;
    font-size: 2rem;
    color:#aaa;
    margin-right: 1rem;
}

.footer .box-container .box a:hover{
    background:#999;
    color:#fff;
}

.footer .credit{
    padding:2rem 1rem;
    text-align: center;
    font-size: 2rem;
    color:#999;
    border-top: .1rem solid rgba(0,0,0,.1);
}

.footer .credit span{
    color:var(--green);
}