/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
  
  body {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    line-height: 2;
    background-color: #fff;
    color: #333;
    position: relative;
  }
  
  a {
    color: #6E8A3C;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  
  /* Utilities */
  .container {
    position: relative;
    height: 100%;
    max-width: 100%;
    padding-top:  6% ;
    padding-left: 2%;
    text-align: center;
    margin-top: 10%;
  }
  
  /* Text Styles*/
  
  .text{
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #6E8A3C;
    margin-right: 1rem;
    transition: opacity 0.2s ease-in;
    position: relative;
    text-align: center;
  }
  
  .cya{
  
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #6E8A3C;
    transition: opacity 0.2s ease-in;
    position: relative;
    text-align: center;
  
  }
  .ahc{
    margin: 1rem;
    text-align: center;
    color: gray;
  }
  
  .submit{
    font: inherit;
    background:#6E8A3C;
    color: #fff;
    display: inline-block;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
  }
  /* Forms */
  
  .form{
    margin: 12% auto;
    width: 20em;
    text-align: center;
    position: relative;
    display: block;
    margin-top: 0.3rem;
    color: #888;
  }
  
  .form .form-group {
    margin: 1.8rem 0;
  }
  
  .form input[type='text'],
  .form input[type='email'],
  .form input[type='password'],
  .form input[type='Phone number'],
  .form input[type='Date'],
  .form input[type='number'],
  .form select,
  .form textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 2.5rem;
    border: 1px solid #ccc;
  }
  
  .form input[type='submit'],
  button {
    font: inherit;
  }
  
  .D{
    font-size: larger;
    color: rgb(110, 108, 108);
    padding-bottom: 2%;
    font-size: 2.1rem;
    margin-right: 85%;
  }

  .upload{
    display: block;
    width: 100%;
    margin-right: 10%;
    font-size: 2.5rem;
    border: 1px solid #ccc;
    font: inherit;
    margin-top: 5%;
    margin-bottom: 5%;
    cursor: pointer;
  }
  .tm-product-img-dummy {
    max-width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #aaa;
  }
  .tm-product-img-edit {
    max-width: 100%;
    position: relative;
  }
  .tm-product-img-edit i {
    display: none;
    position: absolute;
  }
  .tm-product-img-edit:hover i {
    display: block;
  }
  .tm-upload-icon {
    background: #455c71;
    width: 50px;
    height: 55px;
    border-radius: 50%;
    text-align: center;
    padding-top: 15px;
    font-size: 22px;
  }