:root {
  --green: #6e8a3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s cubic-bezier(0.38, 1.15, 0.7, 1.12);
  font-weight: normal;
  font-family: cursive;
}

*::selection {
  background: var(--green);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.3rem;
}

html::-webkit-scrollbar-track {
  background: #eee;
}

html::-webkit-scrollbar-thumb {
  background: var(--green);
}

section {
  min-height: 100vh;
  padding: 0 7%;
  padding-top: 9rem;
}

.btn {
  padding: 0.7rem 2rem;
  font-size: 1.7rem;
  background: #666;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background: #444;
}

.heading {
  text-align: center;
  padding: 1rem;
  color: var(--green);
  font-size: 3.5rem;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 7%;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.fra {
  display: flex;
  margin-right: 2010px;
}

header .logo img {
  height: 4rem;
}

header .navbar a {
  font-size: 2rem;
  color: #aaa;
  margin-left: 3rem;
}

header .navbar a:hover {
  color: var(--green);
}

#menu {
  font-size: 3rem;
  color: #666;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  display: none;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .home .content {
    padding: 0;
  }

  #scroll-top {
    bottom: 3rem;
  }
}

@media (max-width: 788px) {
  #menu {
    display: block;
  }

  header {
    padding: 2rem 3%;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #f9f9f9;
    text-align: center;
    padding: 2rem 0;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
  }

  header .navbar.nav-toggle {
    transform: scaleY(1);
    opacity: 1;
  }

  header .navbar a {
    display: block;
    padding: 1rem 0;
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  section {
    padding: 0 3%;
    padding-top: 9rem;
  }

  .home {
    background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    );
    background-position: left;
  }

  .home .content {
    width: auto;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }
}
