
.product .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product .box-container .box{
    border: 1px green solid;
    margin: 1rem;
    border-radius: 1rem;
    background:#fff;
    width: 30rem;
    text-align: center;
}

.product .box-container .box img{
    height:20rem;
    width:20rem;
    object-fit: cover;
}

.product .box-container .box h3{
    font-size: 2rem;
    color:var(--green);
}



.product .box-container .box .price{
    font-size: 2rem;
    color:#666;
}

.product .box-container .box .price span{
    font-size: 1.5rem;
    color:#aaa;
    padding-right: .5rem;
    text-decoration: line-through;
}

.product .box-container .box .icons{
    padding:1rem 0;
}

.product .box-container .box .icons a{
    font-size: 1.5rem;
    color:rgb(170, 17, 17);
    height:5rem;
    width:5rem;
    line-height: 5rem;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.5rem;
}

.product .box-container .box .icons a:hover{
    background:rgb(136, 129, 129);
}