body{
  margin-top: 4.3%;
}
.product .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.product .box-container .box {
  border: solid #6e8a3c 2px;
  margin: 1rem;
  border-radius: 1rem;
  background: #fff;
  width: 30rem;
  text-align: center;
}

.product .box-container .box img {
  height: 16rem;
  width: 16rem;
  object-fit: cover;
}

.product .box-container .box h3 {
  font-size: 2rem;
  color: var(--green);
}

.product .box-container .box .price {
  font-size: 2rem;
  color: #666;
}

/* .product .box-container .box .price span {
  font-size: 1.5rem;
  color: #aaa;
  padding-right: 0.5rem;
  text-decoration: line-through;
} */




.product .box-container .box .icons a:hover {
  background: rgb(136, 129, 129);
}


button[type='submit']:focus,
input[type='search']:focus {
  box-shadow: 0 0 3px 0 #6e8a3c;
  border-color: #6e8a3c;
  outline: none;
}
